* {
    overflow: hidden;
}
body {
    background-image: url('../assets/images/zombies-02.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 550px;
    height: auto;
    color: #fff;
    z-index: -10;
}
#bg-color {
    background-color: #000;
    opacity: 0.30;
    min-height: 650px;
    min-width: 100%;
    z-index: -5;
    position: absolute;
    top: 0px;
    left: 0px;
}
#startBtn {
    width: 200px;
    margin-top: 40%;
}
#wrapper {
    z-index: 1;
}
.navbar {
    border-radius: 0;
    font-size: 1.3em;
}
.navbar-transparent a {
    color: #FFFFFF; !important;
}
.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:focus {
    background-color: transparent;
}
.error {
    color: red;
}
.glyph-2x{font-size: 2em;}
.glyph-3x{font-size: 3em;}
.glyph-4x{font-size: 4em;}
.glyph-5x{font-size: 5em;}
.white, .white>a {
    color: white;
}
.glyphicon-large {
    min-height: 260px;
    line-height: 260px;
    font-size: 5em;
    width: 1em;
    display: block;
    margin: 50% auto 0px;
}

a:hover {
    text-decoration: none;
}
